.header {

    &__title {
        font-size: 45px;
        padding: $main-spacing/2 $main-spacing/5;

        @media(min-width: $md) {
            font-size: 50px;
            letter-spacing: 1px;
            padding: $main-spacing $main-spacing/4;
        }

    }

    &__txt {
        font-size: 17px;
        padding: $main-spacing/2 $main-spacing/5;
        color: #ddd;
        width: 80%;
        max-width: 450px;

        @media(min-width: $md) {
            font-size: 20px;
            letter-spacing: 1px;
        }

    }

    .btn {

        display: flex;
        align-items: center;
        width: 150px;
        padding: $main-spacing/2 $main-spacing/5;
        background-color: transparent;
        border: none;
        color: #F2F1EC;
        text-shadow: .1px .5px #F2F1EC;
        font-size: 17px;
        cursor: pointer;

        &::after {
            content: '→';
            padding: 10px;
        }
    }

}